{% extends 'DummyBlogBundle::layout.html.twig' %}

{% block title %}
    Главная страница
{% endblock %}

{% block body %}
    <section id="blognotfound">

        <article class="post">
            <div>
                <h2>Запрашиваемая запись не найдена</h2>
                <span class="articlemeta">Пожалуйста, выберите другую запись.</span>
            </div>
        </article>

    </section>
{% endblock %}

{% block footer %}
    Footer
{% endblock %}